.contact-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #cfcfcf;

    &__left {
        display: flex;
        align-items: center;

        &__avatar {
            margin-right: 0.5rem;

            .MuiAvatar-root {
                width: 50px;
                height: 50px;
            }
        }
    }

    &__right {
        .MuiCheckbox-colorPrimary.Mui-checked {
            color: #00917c !important;
        }
    }

}