.search {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    &__icon {
        margin-right: 1rem;

        .MuiSvgIcon-root {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .MuiInputBase-root {
        font-size: 1.3rem;
        width: 100%;
    }
}